In [16]:
import pandas as pd
import numpy as np

In [4]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [5]:
# Question 1
print(pd.__version__)

2.3.2

In [6]:
# Question 2
len(df)

9704

In [7]:
# Question 3
len(df.fuel_type.unique())

2

In [8]:
# Question 4
df.isnull().any()

engine_displacement    False
num_cylinders           True
horsepower              True
vehicle_weight         False
acceleration            True
model_year             False
origin                 False
fuel_type              False
drivetrain             False
num_doors               True
fuel_efficiency_mpg    False
dtype: bool

In [9]:
# Question 5
df.loc[df.origin=='Asia', 'fuel_efficiency_mpg'].max()

np.float64(23.759122836520497)

In [10]:
# Question 6

# median
df.horsepower.median()

np.float64(149.0)

In [11]:
# mode
df.horsepower.value_counts().idxmax()

np.float64(152.0)

In [12]:
# fillna
mode_hp = df.horsepower.value_counts().idxmax()
df.horsepower = df.horsepower.fillna(mode_hp)

# new median
df.horsepower.median()

# new median increased!

np.float64(152.0)

In [13]:
# Question 7
df_asia = df.loc[df.origin == 'Asia', ['vehicle_weight','model_year']].head(7)
X = df_asia.to_numpy()

In [18]:
XTX = X.T.dot(X)
XTX_inv = np.linalg.inv(XTX)
y = [1100, 1300, 800, 900, 1000, 1100, 1200]
w = (XTX_inv @ X.T) @ y
print(sum(w))

0.5187709081074006